@model Yimi.PublishManage.Core.Domain.SqlPublishOrder
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Edit Sql Publish Order </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
            
                @*@using (Html.BeginForm("create", "user", null, FormMethod.Post, null, new { @class = "form-horizontal form-label-left" }))
                {*@
                <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                    <input type="hidden"  value="@Model.Id" id="sqlpublishorderid"/>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="Name" required="required" value="@Model.Name" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            SqlText <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control col-md-7 col-xs-12" id="SqlText">@Model.SqlText</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Environment</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="EnvironmentSelect">
                            @if (Model.SqlPublishEnvironment == Yimi.PublishManage.Core.Domain.SqlPublishEnvironment.Develop)
                            {
                                <option value="0" selected>Develop</option>
                                <option value="1">Uat</option>
                                <option value="2">Release</option>
                                <option value="3">Prod</option>

                            }
                            else if (Model.SqlPublishEnvironment == Yimi.PublishManage.Core.Domain.SqlPublishEnvironment.Uat)
                            {
                                <option value="0" >Develop</option>
                                <option value="1" selected>Uat</option>
                                <option value="2">Release</option>
                                <option value="3">Prod</option>

                            }
                            else if (Model.SqlPublishEnvironment == Yimi.PublishManage.Core.Domain.SqlPublishEnvironment.Release)
                            {
                                <option value="0">Develop</option>
                                <option value="1" >Uat</option>
                                <option value="2" selected>Release</option>
                                <option value="3">Prod</option>

                            }
                            else
                            {
                                <option value="0">Develop</option>
                                <option value="1">Uat</option>
                                <option value="2" >Release</option>
                                <option value="3" selected>Prod</option>

                            }


                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">SqlProvider</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="SqlProviderSelect">
                                @foreach (var item in ViewBag.Providers as List<Yimi.PublishManage.Core.Domain.YimiSqlProvider>)
                                {
                                    if (Model.SqlProviderId == item.Id)
                                    {
                                        <option selected value="@item.Id">@item.Name</option>

                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }

                                }


                            </select>
                        </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <a class="btn btn-primary" href="/sqlpublish/index">Back</a>
      
                            <button type="button" class="btn btn-success submit">Submit</button>
                        </div>
                    </div>

                </form>
                    @*}*@


              
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(function () {

            $(".submit").click(function () {
                var sqlpublishorderid = $("#sqlpublishorderid").val();
                var Name = $("#Name").val();
                var SqlText = $("#SqlText").val();
                var SqlProviderId = $("#SqlProviderSelect").val();
                var Environment = $("#EnvironmentSelect").val();
                var data = { Name: Name, SqlText: SqlText, SqlPublishEnvironment: Environment, SqlProviderId: SqlProviderId, Id: sqlpublishorderid };
                $.ajax({
                    url: "/sqlpublish/Edit",
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.IsSuccess)
                            window.location = "/sqlpublish/index";
                        else {

                        }
                    }

                })

            })
        })

    </script>
}

